{% extends 'base.html.twig' %}

{% block body %}
  {% for currencyPair in currencyPairs %}
    <div id="pair-{{ currencyPair.id }}" style="height: 400px; min-width: 310px"></div>
  {% endfor %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% for currencyPair in currencyPairs %}
    <script>
      $.getJSON('{{ url('get_rate_history', {id: currencyPair.id }) }}', function (data) {
        // Create the chart
        Highcharts.stockChart('pair-{{ currencyPair.id }}', {

          rangeSelector: {
            selected: 1
          },

          title: {
            text: '{{ currencyPair.name }}'
          },

          series: [{
            name: '{{ currencyPair.code }}',
            data: data,
            tooltip: {
              valueDecimals: 2
            }
          }]
        });
      });
    </script>
    {% endfor %}
{% endblock %}